@page "/About"
<h3>About</h3>

<p>Informations are taken from official MS REST endpoint</p>
<p>The tool was developed by MS CE&amp;S organization</p>
<p>Contacts:</p>
<ul>
    <li><a href="mailto:pamontag@microsoft.com">Paolo Montagna - CE</a></li>
</ul>
<p> © Microsoft 2021</p>

